fastapi[standard]
pydantic
langgraph
langchain
langchain_core
langchain-google-genai
langchain-groq
IPython
langgraph-checkpoint-postgres
sqlalchemy
psycopg[binary,pool]
numpy
pandas
langgraph-supervisor
langchain_community
grandalf

#RAG
langchain_pymupdf4llm
langchain_qdrant

# google auth
google-auth 
google-auth-oauthlib 
google-auth-httplib2
pwdlib
jwt
asyncpg